<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원정보 상세</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/board.css">
</head>
<body th:align="center">
<h1 th:align="center">회원정보 상세페이지</h1>
<!--    회원정보 같은 민감 데이터는 가능한 암호화의 숨김 코드로 작성이 필요-->
<hr>
<form th:action="@{/account/updateAccount}" method="post">
    <input name="seq" type="hidden" th:value="${member.seq}">
    <table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
        <tr>
            <td bgcolor="#fafad2" th:text="번호" width="80"></td>
            <td th:text="${member.seq}"></td>
        </tr>
        <!-- 왜 ${member.~} 로 쓰는지 알기-->
        <tr>
            <td bgcolor="#fafad2" th:text="ID" width="80"></td>
            <!--
                [서버]에서 java의 데이터를 [클라이언트]html문서에 값을 할당해주는 문법 ${title}
            -->
            <td><input name="id" type="text" th:value="${member.id}"></td>
        </tr>
        <tr>
            <td bgcolor="#fafad2" th:text="email"></td>
            <td><input name="email" th:value="${member.email}"></td>
        </tr>
<!--        <tr>-->
<!--            <td colspan="2" align="center"></td>-->
<!--            <input type="submit" value="회원정보 수정">-->
<!--        </tr>-->
    </table>
    <div style="margin-top: 20px" align="center">
        <input type="submit" value="회원정보 수정" style="background-color:lightgrey; color: #000000;">
    </div>
</form>
        <div style="margin-top: 20px">
        <a class="btn" align="center" style="justify-content: center; width:50px;" href="http://localhost:9090">home</a>
    </div>
</body>
</html>