<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원정보 찾기</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body th:align="center">
<h1>회원정보 찾기</h1>
<!--    회원정보 같은 민감 데이터는 가능한 암호화의 숨김 코드로 작성이 필요-->
<hr>
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
    <!--    <tr th:each="member : ${memberList}">-->
    <!--      <td bgcolor="orange" th:text="번호" width="80"></td>-->
    <td th:text="${member.seq}"></td>
    <td th:text="${member.id}"></td>
    <td th:text="${member.password}"></td>
    <td th:text="${member.email}"></td>
    </tr>
</table>
<div style="margin-top: 20px">
    <a class="btn" align="center" style="justify-content: center; width:50px;" href="http://localhost:9090">home</a>
</div>
</body>
</html>
