<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/account/selectAccount}" method="post">
    <table th:align="center" border="1" cellpadding="0" cellspacing="0">
        <tr>
            <td bgcolor="#fafad2" th:text="ID" width="80"></td>
            <td><input type="text" name="id" th:placeholder="ID" size="50"></td>
        </tr>
        <tr>
            <td bgcolor="#fafad2" th:text="email"></td>
            <td><input type="text" name="email" th:placeholder="email" size="50"></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="회원찾기">
            </td>
        </tr>
        <!--
         [클라이언트]name='title' 은 서버에서 데이터 매개변수를 받기 위한 변수명(key)
         -->
    </table>
    <div style="margin-top: 20px">
        <a class="btn" align="center" style="justify-content: center; width:50px;" href="http://localhost:9090">home</a>
    </div>
</form>
</body>
</html>